// Центрирование календаря по экрану
@mixin center-screen() {
  display: flex;
  justify-content: center; // горизонтальное центрирование
  align-items: center; // вертикальное центрирование
  height: 100%; // высота экрана
}

// Генерация чисел 1..31
@mixin day-numbers() {
  // todo: @for
}

// Генерация start-day модификаторов
@mixin start-day-mods() {
  // todo: @each
}

// Генерация month-length модификаторов
@mixin month-length-mods() {
  // todo: @for + nth-child
}
